{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Confirmation</h1>
        <p>Vous avez reçu un code par e-mail. Merci de le valider afin de pouvoir vous connecter.</p>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="from-group mb-3">
                <label for="password">Code</label>
                <input type="text" name="password" id="paswword" class="form-control">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-primary" type="submit">Valider</button>
        </form>
    </div>
{% endblock %}