{% extends 'base.html.twig' %}

{% block title %}Editer un Emploi{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h4 mb-2">Editer un Emploi</h1>
        {{ include('pages/job/_form.html.twig', {'button': 'Editer'}) }}
    </div>
{% endblock %}
