{% extends 'base.html.twig' %}

{% block title %}Editer un Emplois{% endblock %}

{% block body %}
    <div class="container">
        <h1>Editer un utilisateur</h1>
        {{ include('pages/job/_form.html.twig', {'button': 'Editer'}) }}
    </div>
{% endblock %}
