{% extends 'base.html.twig' %}

{% block title %}Créer un emploi{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un emploi</h1>
        {{ include('pages/job/_form.html.twig') }}
    </div>
{% endblock %}

