{% extends 'base.html.twig' %}

{% block title %}Edit WorkingDay{% endblock %}

{% block body %}
    <h1>Edit WorkingDay</h1>
    {{ include('pages/working_day/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('working_day.index') }}">back to list</a>
{% endblock %}
