{% extends 'base.html.twig' %}

{% block title %}Planifier un jour{% endblock %}

{% block body %}
    <div class="container">
        <h1>Planifier un jour</h1>
        {{ include('pages/working_day/_form.html.twig') }}
        <a href="{{ path('working_day.index') }}">Retour</a>
    </div>
{% endblock %}
