{% extends 'base.html.twig' %}

{% block title %}New WorkingDay{% endblock %}

{% block body %}
    <h1>Create new WorkingDay</h1>
    {{ include('pages/working_day/_form.html.twig') }}
    <a href="{{ path('working_day.index') }}">back to list</a>
{% endblock %}
