{% extends 'base.html.twig' %}

{% block title %}Editer une période{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer une période</h1>
        {{ include('pages/planning/workTime/_form.html.twig', {'button_label': 'Editer'}) }}
        {{ include('pages/planning/workTime/_delete_form.html.twig') }}
    </div>
{% endblock %}
