{% extends 'base.html.twig' %}

{% block title %}Créer une période{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une période</h1>
        {{ include('pages/planning/workTime/_form.html.twig') }}
    </div>
{% endblock %}
