{% extends 'base.html.twig' %}

{% block title %}New TaskCategory{% endblock %}

{% block body %}
    <h1>Create new TaskCategory</h1>

    {{ include('task_category/_form.html.twig') }}

    <a href="{{ path('task_category_index') }}">back to list</a>
{% endblock %}
