{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h4 mb-2">Créer un utilisateur</h1>
        {{ include('pages/user/_form.html.twig') }}
    </div>
{% endblock %}
