{{ form_start(form) }}
<div class="row mb-4 align-items-end">
    <div class="col">
        {{ form_row(form.taskCategories) }}
    </div>
    <div class="col">

    </div>
    <div class="col">
        <button class="btn btn-primary">Rechercher</button>
    </div>
</div>
{{ form_end(form) }}