{% extends 'base.html.twig' %}

{% block title %}Editer un type de tâche{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer un type de tâche</h1>
        {{ include('pages/task_category/_form.html.twig', {'button': 'Editer'}) }}
    </div>
{% endblock %}