{% extends 'base.html.twig' %}

{% block title %}SOS{% endblock %}

{% block body %}
    <div class="container">
        <h1>Envoyer un SOS au psychologue</h1>
        {{ include('pages/_partials/messages.html.twig') }}
        {{ include('pages/sos/_form.html.twig', {form: form}) }}
    </div>
{% endblock %}