body {
  width: 100%;
  max-width: 100%;
}

.item-badge {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 25%;
}

.d-flex.justify-content-between div.pagination ul.pagination {
  margin-bottom: 0;
}