{% extends 'base.html.twig' %}

{% block title %}Editer une tâche{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <h1 class="h4 mb-2">Editer une tâche</h1>
            {{ include('pages/planning/task/_delete_form.html.twig') }}
        </div>
        {{ include('pages/planning/task/_form.html.twig', {'button_label': 'Editer'}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('taskForm') }}
{% endblock %}